<h1>Aplicação</h1>
<app-header></app-header>

<!-- Changing descricao1 value wid data bind TWO WAY -->
<ul *ngFor="let valor of valores">
    <li>[ID {{valor.id}}] {{valor.nome}} - {{valor.descricao}} </li>
</ul>


<!-- IF clientePremium = true -->
<div *ngIf="clientePremium; else naopremium">
    <p>Você é um cliente Premium tem acesso a informações especiais.</p>
</div>

<!-- ELSE show #naopremium -->
<ng-template #naopremium>
    <p>Não é um cliente premium.</p>
</ng-template>

<!-- tabela clientes (consulta array de objetos) -->
<h2>Meus clientes</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>EMPRESA</th>
            <th>CNPJ</th>
            <th>RESPONSÁVEL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of clientes">
            <td>{{i.id}}</td>
            <td>{{i.empresa}}</td>
            <td>{{i.cnpj}}</td>
            <td>{{i.responsavel}}</td>
        </tr>
    </tbody>
</table>
<br>
<!-- adicionando mais clientes -->
    <!--  empresa -->
<label>Empresa: </label>
<input [(ngModel)]="empresa" placeholder="nome da empresa" required>
<br>    
    <!-- cnpj -->
<label>CNPJ: </label>
<input [(ngModel)]="cnpj" maxlength="14" placeholder="cnpj da empresa" required>
<br>
    <!-- responsável -->
<label>Responsável: </label>
<input [(ngModel)]="responsavel" placeholder="responsável da empresa" required>


<!-- botão adicionar -->
    <!-- capturando algum (evento) -->
<br>
<button (click)="adicionar()">Adicionar cliente</button>